spd.X/*.d
spd.X/*.pre
spd.X/*.p1
spd.X/*.lst
spd.X/*.sym
spd.X/*.obj
spd.X/*.o
spd.X/*.sdb
spd.X/*.obj.dmp
spd.X/html/
spd.X/nbproject/private/
spd.X/nbproject/Package-*.bash
spd.X/build/
spd.X/nbbuild/
spd.X/dist/
spd.X/nbdist/
spd.X/nbactions.xml
spd.X/nb-configuration.xml
spd.X/funclist
spd.X/nbproject/Makefile-*
spd.X/disassembly/
spd.X/*.map
spd.X/.ca/